BasedOnStyle : "LLVM"
Standard : "c++17"
UseTab : "Always"
TabWidth : 4
IndentWidth : 4
ColumnLimit : 0
AccessModifierOffset : -4
AlignAfterOpenBracket: "Align"
AllowShortFunctionsOnASingleLine: "Inline"
AllowShortIfStatementsOnASingleLine : "true"
AllowShortBlocksOnASingleLine : "true"
AlwaysBreakTemplateDeclarations : "true"
AllowAllArgumentsOnNextLine : "true"
AlignAfterOpenBracket : "Align"
BreakConstructorInitializers : "BeforeComma"
BreakInheritanceList : "AfterColon"
BreakBeforeBraces: "Custom"
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
IndentCaseLabels : "true"
IndentPPDirectives : "BeforeHash"
SpaceBeforeInheritanceColon : "true"
SpaceBeforeCtorInitializerColon : "true"
SpaceBeforeAssignmentOperators : "true"
SpaceAfterTemplateKeyword : "false"
SpaceAfterCStyleCast : "false"
SpaceBeforeParens : "ControlStatements"
SpaceBeforeRangeBasedForLoopColon : "true"
SpaceInEmptyParentheses : "false"
SpacesInAngles : "false"
SpacesInCStyleCastParentheses : "false"
