build/
LOCAL/
LOCAL
*.hex
*.bin
*.wav
.DS_Store
.vscode/
main.map
.clangd/
compile_commands.json
.tags
tags
.tags_*
objs/
localtests_tests
.nvimrc
.ccls-cache/
tableGen/table
compile_flags.txt
tableGen/make_tables
cubemx
compile_commands.json.compdb
shared/tests/doctest.h
shared/CoreModules/tests/doctest.h
vcv/tests/doctest.h
shared/tableGen/make_tables
*.dat
*.uimg
local_board_rev.hh
firmware/.gdb_history
firmware_m4.h
firmware_m4_vectors.h
*.swo
*.swp