[submodule "firmware/lib/mdrivlib"]
	path = firmware/lib/mdrivlib
	url = https://github.com/4ms/mdrivlib.git
[submodule "firmware/lib/printf"]
	path = firmware/lib/printf
	url = https://github.com/mpaland/printf.git
[submodule "firmware/lib/lvgl/lvgl"]
	path = firmware/lib/lvgl/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "shared/svgextract/lv_img_conv"]
	path = shared/svgextract/lv_img_conv
	url = https://github.com/lvgl/lv_img_conv.git
[submodule "shared/patch_convert/ryml/rapidyaml"]
	path = shared/patch_convert/ryml/rapidyaml
	url = https://github.com/danngreen/rapidyaml.git
[submodule "shared/cpputil"]
	path = shared/cpputil
	url = https://github.com/4ms/cpputil.git
[submodule "firmware/bootloader/mp1-boot"]
	path = firmware/bootloader/mp1-boot
	url = https://github.com/4ms/mp1-boot.git
[submodule "firmware/vcv_ports/AudibleInstruments"]
	path = firmware/vcv_ports/AudibleInstruments
	url = https://github.com/VCVRack/AudibleInstruments.git
[submodule "firmware/vcv_ports/Befaco"]
	path = firmware/vcv_ports/Befaco
	url = https://github.com/hemmer/Befaco.git
[submodule "firmware/src/VCV_adaptor/simde"]
	path = firmware/src/VCV_adaptor/simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "firmware/lib/jansson/jansson"]
	path = firmware/lib/jansson/jansson
	url = https://github.com/4ms/jansson.git
