build/
LOCAL/
LOCAL
*.hex
*.bin
*.wav
.DS_Store
.vscode/
main.map
.clangd/
compile_commands.json
.tags
tags
.tags_*
objs/
localtests_tests
.nvimrc
.ccls-cache/
tableGen/table
compile_flags.txt
tableGen/make_tables

H7/cubemx/
