[submodule "firmware/lib/mdrivlib"]
	path = firmware/lib/mdrivlib
	url = https://github.com/4ms/mdrivlib.git
[submodule "shared/cpputil"]
	path = firmware/lib/cpputil
	url = https://github.com/4ms/cpputil.git
[submodule "firmware/bootloader/mp1-boot"]
	path = firmware/bootloader/mp1-boot
	url = https://github.com/4ms/mp1-boot.git
[submodule "firmware/bootloader/mp1-usb-dfu"]
	path = firmware/bootloader/mp1-usb-dfu
	url = https://github.com/4ms/mp1-usb-dfu
[submodule "firmware/metamodule-plugin-sdk"]
	path = firmware/metamodule-plugin-sdk
	url = https://github.com/4ms/metamodule-plugin-sdk.git
[submodule "metamodule-patch-serial"]
	path = firmware/lib/patch-serial
	url = https://github.com/4ms/metamodule-patch-serial
[submodule "firmware/lib/CoreModules"]
	path = firmware/lib/CoreModules
	url = https://github.com/4ms/metamodule-core-modules
