[submodule "firmware/lib/mdrivlib"]
	path = firmware/lib/mdrivlib
	url = git@github.com:4ms/mdrivlib.git
[submodule "firmware/lib/printf"]
	path = firmware/lib/printf
	url = git@github.com:mpaland/printf.git
[submodule "firmware/lib/lvgl/lvgl"]
	path = firmware/lib/lvgl/lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "shared/svgextract/lv_img_conv"]
	path = shared/svgextract/lv_img_conv
	url = git@github.com:lvgl/lv_img_conv.git
[submodule "shared/patch_convert/ryml/rapidyaml"]
	path = shared/patch_convert/ryml/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
[submodule "shared/cpputil"]
	path = shared/cpputil
	url = git@github.com:4ms/cpputil
[submodule "firmware/bootloader/mp1-boot"]
	path = firmware/bootloader/mp1-boot
	url = git@github.com:4ms/mp1-boot.git
