---
CompileFlags:
	Add: [
		"-std=c++2b",

		"-Irapidyaml/src",
		"-Irapidyaml/ext/c4core/src",
		"-I../../",

		"-Iryml/rapidyaml/src",
		"-Iryml/rapidyaml/ext/c4core/src",
		"-I../",
		"-I../cpputil",
	]
	Remove: [-march=nocona]
