---
CompileFlags:
	Add: [
			"-std=c++20",
			"--target=arm-none-eabi",
			"-I/Users/design/4ms/stm32/meta-module/shared",
			"-I/Users/design/4ms/stm32/meta-module/shared/util",
			"-I/Users/design/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/arm-none-eabi/include/c++/10.2.1",
			"-I/Users/design/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/arm-none-eabi/include/c++/10.2.1/arm-none-eabi",
			"-I/Users/design/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/arm-none-eabi/include/c++/10.2.1/backward",
			"-I/Users/design/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/lib/gcc/arm-none-eabi/10.2.1/include",
			"-I/Users/design/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/lib/gcc/arm-none-eabi/10.2.1/include-fixed",
			"-I/Users/design/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/arm-none-eabi/include",
			"-I/Users/dann/4ms/stm32/meta-module/shared",
			"-I/Users/dann/4ms/stm32/meta-module/shared/util",
			"-I/Users/dann/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/arm-none-eabi/include/c++/10.2.1",
			"-I/Users/dann/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/arm-none-eabi/include/c++/10.2.1/arm-none-eabi",
			"-I/Users/dann/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/arm-none-eabi/include/c++/10.2.1/backward",
			"-I/Users/dann/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/lib/gcc/arm-none-eabi/10.2.1/include",
			"-I/Users/dann/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/lib/gcc/arm-none-eabi/10.2.1/include-fixed",
			"-I/Users/dann/4ms/stm32/gcc-arm-none-eabi-10-2020-q4-major/arm-none-eabi/include",
			"-Wno-deprecated-volatile"
	]
