---
CompileFlags:
	Add: [
	"-I../../firmware/src",
	"-I../../firmware/src/medium",
	"-I../../firmware/lib/mdrivlib",
	"-I../../shared",
	"-I../../firmware/lib/mcufont/decoder",
	"-I../../firmware/lib/mcufont/fonts",
	"-DSIMULATOR",
	"-std=c++2a"
	]
