---
CompileFlags:
	Add: [
	"-I../../firmware/src",
	"-I../../firmware/src/medium",
	"-I../../firmware/lib/mdrivlib",
	"-I../../shared",
	"-I../../shared/cpputil",
	"-I../../../shared",
	"-I../../../shared/cpputil",
	"-I../../../firmware/src",
	"-I../../../firmware/src/medium",
	"-I../../../firmware/lib/mdrivlib",
	"-I../../../firmware/lib/lvgl",
	"-DSIMULATOR",
	"-std=c++2a"
	]
