---
CompileFlags:
	Add: [
			"-std=c++17",
			"-DSTM32H7",
			"-DSTM32H745xx",
			"-DSTM32H7x5xx",
			"-DCORE_CM7",
			"-I/Users/dann/4ms/stm32/meta-module/shared",
			"-I/Users/dann/4ms/stm32/meta-module/H7/lib/stm32/device/include",
			"-I/Users/dann/4ms/stm32/meta-module/H7/lib/stm32/cmsis/include",
			"-I/Users/dann/4ms/stm32/meta-module/H7/lib/stm32/periph/include",
			"-I/Users/dann/4ms/stm32/meta-module/H7/src",
			"-I/Users/dann/4ms/stm32/meta-module/H7/src/sys",
			"-I/Users/dann/4ms/stm32/meta-module/H7/lib/mdrivlib",
			"-I/Users/dann/4ms/stm32/meta-module/H7/lib",
			"-I/Users/dann/4ms/stm32/meta-module/H7/lib/adafruit_gfx",
			"-isystem /usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include/c++/8.2.1",
			"-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include/c++/8.2.1",
			"-isystem /usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include/c++/8.2.1/arm-none-eabi",
			"-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include/c++/8.2.1/arm-none-eabi",
			"-isystem /usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include/c++/8.2.1/backward",
			"-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include/c++/8.2.1/backward",
			"-isystem /usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/lib/gcc/arm-none-eabi/8.2.1/include",
			"-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/lib/gcc/arm-none-eabi/8.2.1/include",
			"-isystem /usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/lib/gcc/arm-none-eabi/8.2.1/include-fixed",
			"-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/lib/gcc/arm-none-eabi/8.2.1/include-fixed",
			"-isystem /usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include",
			"-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include",
			"--target=arm-none-eabi",
			"-Wno-deprecated-volatile"
	]
