---
Diagnostics:
    ClangTidy:
        Add: [modernize*, cppcoreguidelines-prefer-member-initializer, readability-suspicious-call-argument]
        Remove: [modernize-use-trailing-return-type, modernize-avoid-c-arrays,modernize-use-nodiscard]
        CheckOptions:
            readability-identifier-naming.VariableCase: CamelCase

CompileFlags:
	Remove: [
		"-DSTM32H7x5",
		"-DSTM32H7x5xx",
		"-DSTM32H745xx",
		"-DSTM32H755xx",
		"-DSTM32H7",
		"-Ilib/cmsis-device/stm32h7x5/include",
		"-Ilib/stm32-hal/stm32h7x5/include",
		"-Ilib/mdrivlib/target/stm32h7x5",
		"-Ilib/mdrivlib/target/stm32h7x5/drivers",
		"-Isrc/m4",
		"-Isrc/m7",
		"-DARM_MATH_CM7",
		"-DCORE_CM7",
		"-DCORE_CM4",
		"-D__FPU_PRESENT=1",
		"-flto=*",
		"-mvectorize-with-neon-*",
		"-mthumb-interwork",
		"-ffold-simple-inlines"
	]
	Add: [
		"--target=arm-none-eabi", 
		"-DUSE_HAL_DRIVER",
		"-DCORE_CA7", 
		"-DSTM32MP1",
		"-DSTM32MP157Cxx",
		"-Isystem",
		"-Isrc/a7",
		"-Isrc/medium",
		"-Ilib/stm32-hal/stm32mp1/include",
		"-Ilib/cmsis/Core_A/Include",
		"-Ilib/cmsis-device/stm32mp157c/include",
		"-Ilib/lvgl",
		"-Ilib/lvgl/lvgl/src/lv_font",
        "-Isrc/fatfs",
        "-Ilib/fatfs/source",
		"-Isrc/shared/etl/include",
		"-Isrc/shared/cpputil",
		"-Ilib/mdrivlib",
		"-Ilib/mdrivlib/drivers",
		"-Ilib/mdrivlib/target/stm32mp1",
		"-Ilib/mdrivlib/target/stm32mp1/drivers",
		"-Ilib/mdrivlib/target/stm32mp1_ca7",
		"-Ilib/mdrivlib/target/stm32mp1_ca7/drivers",
	]
---
If:
	PathMatch: [".*tests/.*"]
CompileFlags:
	Remove: [
		"--target=arm-none-eabi", 
	]
---
If:
	PathMatch: [".*a7.*"]
CompileFlags:
	Add: [
	]
---
If:
	PathMatch: [".*mp1.*m4.*", ".*medium.*m4.*"]
CompileFlags:
	Add: [
		"-Isrc/mp1m4",
		"-Ilib/mdrivlib/target/stm32mp1_cm4",
		"-Ilib/mdrivlib/target/stm32mp1_cm4/drivers",
		"-DCORE_CM4"
	]
	Remove: [
		"-DCORE_CA7",
		"-Ilib/mdrivlib/target/stm32mp1_ca7",
		"-Ilib/mdrivlib/target/stm32mp1_ca7/drivers",
	]
---
If:
	PathMatch: [".*stm32h7.*", ".*m4.*", ".*m7.*"]
	PathExclude: [".*a7.*", ".*mp1.*", ".*medium.*"]
CompileFlags:
	Add: [
		"-DSTM32H7x5",
		"-DSTM32H7x5xx",
		"-DSTM32H745xx",
		"-DSTM32H755xx",
		"-DSTM32H7",
		"-Ilib/cmsis-device/stm32h7x5/include",
		"-Ilib/stm32-hal/stm32h7x5/include",
		"-Ilib/mdrivlib/target/stm32h7x5",
		"-Ilib/mdrivlib/target/stm32h7x5/drivers",
		"-Ilib/mdrivlib/target/stm32h7x5_m7",
		"-Ilib/mdrivlib/target/stm32h7x5_m7/drivers",
		"-Ilib/mdrivlib/target/stm32h7x5_m4",
		"-Ilib/mdrivlib/target/stm32h7x5_m4/drivers",
		"-Isrc/m7",
		"-DARM_MATH_CM7",
		"-DCORE_CM7",
		"-D__FPU_PRESENT=1",
	]
	Remove: [
		"-DCORE_CA7", 
		"-DSTM32MP1",
		"-DSTM32MP157Cxx",
		"-Isrc/a7",
		"-Isrc/a7/conf",
		"-Ilib/stm32-hal/stm32mp1/include",
		"-Ilib/cmsis/Core_A/Include",
		"-Ilib/cmsis-device/stm32mp157c/include",
		"-Ilib/mdrivlib/target/stm32mp1",
		"-Ilib/mdrivlib/target/stm32mp1/drivers",
		"-Ilib/mdrivlib/target/stm32mp1_ca7",
		"-Ilib/mdrivlib/target/stm32mp1_ca7/drivers",
		"-Ilib/mdrivlib/target/stm32mp1_cm4",
		"-Ilib/mdrivlib/target/stm32mp1_cm4/drivers",
		"-DCORE_CM4"
	]
