---
CompileFlags:
	Remove: [
		"-DSTM32H7x5",
		"-DSTM32H7x5xx",
		"-DSTM32H745xx",
		"-DSTM32H755xx",
		"-DSTM32H7",
		"-Ilib/cmsis-device/stm32h7x5/include",
		"-Ilib/stm32-hal/stm32h7x5/include",
		"-Ilib/mdrivlib/drivers/target/stm32h7x5",
		"-Ilib/mdrivlib/drivers/target/stm32h7x5/drivers",
		"-Isrc/m4",
		"-Isrc/m7",
		"-DARM_MATH_CM7",
		"-DCORE_CM7",
		"-D__FPU_PRESENT=1",
	]
	Add: [
		"--target=arm-none-eabi", 
        "-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include/c++/8.2.1",
        "-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include/c++/8.2.1/arm-none-eabi",
        "-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include/c++/8.2.1/backward",
        "-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/lib/gcc/arm-none-eabi/8.2.1/include",
        "-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/lib/gcc/arm-none-eabi/8.2.1/include-fixed",
        "-I/usr/local/Cellar/arm-none-eabi-gcc/8-2018-q4-major/gcc/arm-none-eabi/include"
		"-DUSE_HAL_DRIVER",
		"-DCORE_CA7", 
		"-DSTM32MP1",
		"-DSTM32MP157Cxx",
		"-Isrc/a7",
		"-Isrc/a7/conf",
		"-Ilib/stm32-hal/stm32mp1/include",
		"-Ilib/cmsis/Core_A/Include",
		"-Ilib/cmsis-device/stm32mp157c/include",
		"-Ilib/mdrivlib/drivers/target/stm32mp1",
		"-Ilib/mdrivlib/drivers/target/stm32mp1/drivers",
	]
---
If:
	PathMatch: [".*stm32h7.*", ".*m4.*", ".*m7.*"]
CompileFlags:
	Add: [
		"-DSTM32H7x5",
		"-DSTM32H7x5xx",
		"-DSTM32H745xx",
		"-DSTM32H755xx",
		"-DSTM32H7",
		"-Ilib/cmsis-device/stm32h7x5/include",
		"-Ilib/stm32-hal/stm32h7x5/include",
		"-Ilib/mdrivlib/drivers/target/stm32h7x5",
		"-Ilib/mdrivlib/drivers/target/stm32h7x5/drivers",
		"-Isrc/m4",
		"-Isrc/m7",
		"-DARM_MATH_CM7",
		"-DCORE_CM7",
		"-D__FPU_PRESENT=1",
	]
	Remove: [
		"-DCORE_CA7", 
		"-DSTM32MP1",
		"-DSTM32MP157Cxx",
		"-Isrc/a7",
		"-Isrc/a7/conf",
		"-Ilib/stm32-hal/stm32mp1/include",
		"-Ilib/cmsis/Core_A/Include",
		"-Ilib/cmsis-device/stm32mp157c/include",
		"-Ilib/mdrivlib/drivers/target/stm32mp1",
		"-Ilib/mdrivlib/drivers/target/stm32mp1/drivers",
	]
---
