CompileFlags:
  Add: [
    "-xc++",
    "-std=c++20",
    "-I..",
    "-I../cpputil",
    "-I../../cpputil",
    "-I../../../cpputil",
    "-I../../../../cpputil",
    "-I../../../../../cpputil",
    "-I../..",
    "-Itests",
    "-Ifirmware/metamodule-plugin-sdk/metamodule-core-interface",
    "-I../firmware/metamodule-plugin-sdk/metamodule-core-interface",
    "-I../../firmware/metamodule-plugin-sdk/metamodule-core-interface",
    "-I../../../firmware/metamodule-plugin-sdk/metamodule-core-interface",
    "-I../firmware/src",
    "-I../../firmware/src",
    "-I../../../firmware/src",
    "-I../../../shared",
    "-I../../../../shared",
    "-I../../../../../shared",
  ]
  Remove: [
    "-ffold-simple-inlines",
    "-mvectorize-with-neon-quad",
    "-mthumb-interwork",
  ]
