---
CompileFlags:
	Add: [
		"-std=c++20",
		"-I..",
		"-I../cpputil",
		"-I../../cpputil",
		"-I../..",
		"-Itests",
		"-I../etl/include",
		"-I../../etl/include",
        "-I../firmware/src",
        "-I../../firmware/src",
        "-I../../../firmware/src",
        "-I../../../shared/CoreModules/modules",
	]
